* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Estilos gerais do popup */
.promo-popup {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out; /* Animação de fade-in suave */
}

.promo-content {
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideUp 0.5s ease-in-out forwards; /* Animação de deslizamento */
}

/* Estilo da imagem no popup */
.promo-img {
    width: 100%;
    max-width: 220px;
    border-radius: 50%;
    margin-bottom: 25px;
    transition: transform 0.3s ease;
}

.promo-img:hover {
    transform: scale(1.05); /* Leve zoom ao passar o mouse */
}

/* Estilo do título */
.promo-content h2 {
    font-size: 2.4rem;
    color: #333;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

/* Estilo do parágrafo */
.promo-content p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/* Botão de ação */
.promo-btn {
    background-color: #752C6E; /* Cor de fundo moderna */
    color: white;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.promo-btn:hover {
    background-color: #51BEA2; /* Cor ao passar o mouse */
}

/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.8rem;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #F27EB4; /* Cor ao passar o mouse */
}

h1 {
    font-family: 'Lobster', cursive;
    color: #6CC2D9;
}

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header-container{
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

/* Estilos do Header */
header {
    background-color:#51BEA2;
    padding: 1rem 0;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

header .logo img {
    width: 100px;
}

/* Menu de navegação padrão (desktop) */
header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

header nav ul li {
    margin-right: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color:#F27EB4;
}

/* Menu toggle (botão hambúrguer) */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.3s;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('img/hero.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 5rem 0;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.hero h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.hero .btn {
    background-color:#752C6E;
    color: #fff;
    padding: 0.75rem 2rem;
    border-radius: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero .btn:hover {
    background-color:#F27EB4;
    transform: scale(1.1);
}

section {
    padding: 4rem 0;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: fadeInUp 1.5s forwards;
}

/* Seção principal com o post de vídeo à esquerda */
.video-section {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
  }
  
  /* Estilos para o post de vídeo */
  .video-post {
    width: 60%;
  }

  .video-post video{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Adiciona bordas arredondadas ao card */
    overflow: hidden; /* Garante que o conteúdo respeite as bordas */
    transition: box-shadow 0.3s ease-in-out; /* Suaviza a transição da sombra */
  }
  
  .story-text {
    padding: 1rem;
  }
  
  .story-text p {
    font-size: 1.3rem;
    color: #333;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
    padding: 2rem;
  }
  
  .story-text strong {
    color: #d63384; /* Destaque para a marca */
  }
  
  .story-text span {
    font-weight: bold;
  }
  
.product-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    background: #fff;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    flex: 1 1 calc(25% - 2rem);
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    animation: fadeInUp 1.2s forwards;
}

.product img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.product h3 {
    font-size: 1.5rem;
    color: #6CC2D9;
    margin-bottom: 1rem;
}

.product p {
    font-size: 1rem;
    color: #666;
}

.product:hover {
    transform: translateY(-10px);
}
#instagram-feed {
    margin-top: 50px;
    text-align: center;
}

#instagram-feed h2 {
    font-size: 2rem;
    color: #6CC2D9;
    margin-bottom: 20px;
}

.instagram-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

iframe.lightwidget-widget {
    width: 100%;
    height: auto;
}

#testimonials {
    padding: 4rem 0;
    background-color: #f4f4f9;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: #6CC2D9;
    margin-bottom: 3rem;
}

.testimonial-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: calc(33% - 2rem);
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimonial-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.testimonial-card p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.testimonial-card:hover {
    transform: translateY(-10px);
}

/* Estilo do botão de WhatsApp */
.whatsapp-button {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 1000;
    border-radius: 50%;
    transition: background-color 0.3s;
} 

.whatsapp-button img {
    width: 60px;
    height: 60px;
}

.whatsapp-button:hover {
    background-color: #128c7e;
}

/* Animação de vibração */
@keyframes vibrate {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}

.vibrating {
    animation: vibrate 0.3s linear infinite; /* Animação de vibração */
}

footer {
    background-color:#752C6E;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
.autor-info a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.autor-info a i {
    margin-right: 8px;
    color: white;
    font-size: 1.5rem;
}

.autor-info a:hover {
    color: #51BEA2;
}

footer a:active, footer a:focus {
    outline: none;
    color: #F27EB4;
}

/* Para garantir que o ícone seja exibido corretamente */
footer a i {
    transition: transform 0.3s ease;
}

.autor-info a:hover i {
    transform: rotate(20deg);
}


#brands {
    padding: 4rem 0;
    text-align: center;
    background-color: #f9f9f9;
}

#brands h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #6CC2D9;
}

.carousel-container {
    overflow: hidden; /* Esconde o conteúdo extra que não cabe na tela */
    width: 100%;
    position: relative;
}

.carousel-wrapper {
    display: flex;
    animation: scroll 20s linear infinite; /* Animação suave e infinita */
}

.carousel-item {
    min-width: 200px; /* Largura mínima dos itens do carrossel */
    padding: 10px;
}

.carousel-item img {
    width: 100%;
    display: block;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Clonando os itens para dar efeito de looping */
.carousel-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    width: 100%;
    height: 100%;
}

.contact-section {
    padding: 4rem 0;
    background-color: #f4f4f9;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #6CC2D9;
}

.contact-section p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
}

.contact-details {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.info {
    display: flex;
    align-items: center;  /* Alinha verticalmente no centro */
    justify-content:left;  /* Alinha horizontalmente no centro */
    gap: 40px;  /* Espaçamento entre o ícone e o texto */
    padding: 1rem;
}

.info i {
    font-size: 24px;  /* Tamanho do ícone */
    color:#752C6E;  /* Cor do ícone */
}

.info p {
    margin: 0;  /* Remove o espaçamento padrão do parágrafo */
    font-size: 1.1rem;  /* Tamanho da fonte */
    color: #666;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    justify-content: space-around;
}

.social-icons a {
    font-size: 1.8rem;
    color: white;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color:#F27EB4;
}

#promocoes {
    padding: 4rem 0;
    background-color: #f4f4f9;
    text-align: center;
}

#promocoes h2 {
    font-size: 2.5rem;
    color:#6CC2D9;
    margin-bottom: 3rem;
    transition: color 0.3s ease;
}

.promo-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.promo-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: calc(33% - 2rem);
    margin: 1rem;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.promo-card img {
    width: 100%;
    object-fit: cover;
}

.promo-info {
    padding: 1.5rem;
}

.promo-info h3 {
    font-size: 1.5rem;
    color: #51BEA2;
    margin-bottom: 1rem;
}

.promo-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.promo-btn {
    background-color: #51BEA2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.promo-btn:hover {
    background-color: #752C6E;
    color: white;
}

.promo-card:hover {
    transform: translateY(-10px);
}

/* Responsividade para dispositivos móveis */
@media (max-width: 890px) {
    header {
        padding: 1rem;
    }

    header nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 250px;
        height: 100vh;
        background-color: #fff;
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        padding: 2rem;
        display: none; /* Oculto por padrão */
    }

    header nav ul li {
        margin-bottom: 1.5rem;
    }

    header nav ul li a {
        font-size: 1.5rem;
        color: #333;
    }

    .menu-toggle {
        display: flex;
        z-index: 999;
    }

    /* Mostrar menu ao clicar no botão hambúrguer */
    .menu-open nav ul {
        display: flex;
    }

    .menu-open nav {
        transform: translateX(0);
    }

    /* Animação do botão hambúrguer */
    .menu-open .menu-toggle span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-open .menu-toggle span:nth-child(2) {
        opacity: 0;
    }

    .menu-open .menu-toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    .promo-content {
        padding: 30px 20px;
    }

    .promo-content h2 {
        font-size: 2rem;
    }

    .promo-content p {
        font-size: 1.1rem;
    }

    .promo-btn {
        padding: 10px 20px;
    }

    .promo-img {
        max-width: 180px; /* Ajuste da imagem para telas menores */
    }
    .testimonial-card {
        width: calc(50% - 2rem);
    }
    .promo-card {
        width: calc(50% - 2rem);
    }

    .video-section {
        flex-direction: column; /* Muda para coluna */
        align-items: center; /* Centraliza o conteúdo */
    }

    .video-post {
        width: 100%; /* O vídeo ocupará a largura total */
        margin-bottom: 1rem; /* Adiciona um espaçamento abaixo do vídeo */
    }

    .story-text {
        text-align: center; /* Centraliza o texto */
    }
}

@media (max-width: 480px) {
    .promo-card {
        width: 100%;
    }
    .testimonial-card {
        width: 100%;
    }

}


/* Animação para o carrossel */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Move o carrossel inteiro para a esquerda */
    }
}

/* Animações customizadas */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animação de fade-in */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Animação de deslizamento */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}